.page {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 4rem 4.4%;
  width: 100%;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.title {
  color: #000822;
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -0.8px;
  display: inline-block;
}

@media screen and (max-width: 900px) {
  .page {
    padding: 2rem 2%;
    gap: 2rem;
  }

  .top {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
  }

  .title {
    font-size: 2.4rem;
    font-weight: 800;
  }
}

@media screen and (max-width: 600px) {
  .page {
    padding: 1.5rem 2%;
    gap: 1.6rem;
  }

  .title {
    font-size: 1.8rem;
  }
}
