.page {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  margin-bottom: 8.4rem;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.title {
  color: #000822;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 100%;
}
.button {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 124%;
  display: flex;
  height: 4.8rem;
  width: 23.2rem;
  padding: 1rem 2.4rem;
  align-items: center;
  justify-content: space-between;
  /* gap: 1.2rem; */
  border-radius: 8px;
  background: linear-gradient(0deg, #0388ff 0%, #0388ff 100%), #fff;
  box-shadow: 0 4px 84px 0 rgba(0, 8, 34, 0.04);
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}
.button:hover {
  background: linear-gradient(0deg, #0388ff 0%, #0388ff 100%), #fff;
  box-shadow: 0 4px 84px 0 rgba(0, 8, 34, 0.04);
}
