.container {
  width: 37.8rem;
  border-radius: 16px;
  background: #fff;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem 2.4rem 1.5rem;
  border-bottom: 1px solid rgba(0, 8, 34, 0.18);
}
.headerLeft {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.editIcon {
  cursor: pointer;
}
.title {
  color: #0388ff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.64px;
}
.value {
  display: flex;
  align-items: center;
  padding: 2.6rem 2.4rem 2.9rem 2.2rem;
}
.valueTitle {
  color: #000;
  font-size: 2.4rem;
  font-weight: 700;
}
