.squares {
  position: absolute;
  top: calc(-12.6rem + 1.1%);
  right: calc(-63rem + 1.1%);
  overflow: hidden;
}
.error404Container {
  position: absolute;
  top: 17.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 3;
}
.error404Span {
  /* position: absolute; */
  width: 22.491px;
  height: 38.4rem;
  background: linear-gradient(
    180deg,
    rgba(3, 136, 255, 0) 0%,
    rgba(3, 136, 255, 0.48) 100%
  );
}
.content {
  display: flex;
  align-items: center;
  gap: 3.7rem;
  width: 100%;
  /* width: 32.5%; */
  /* margin: 0.4rem auto 27.2rem; */
  position: relative;
  z-index: 2;
  padding: 0 0 1.8rem 3.8rem;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 34.7%;
}
.left {
  flex: 1;
}
.imageContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}
.imageContainer img {
  width: calc(100% - 8%);
  height: auto;
}

.title {
  color: #fff;
  font-size: 6.7rem;
  font-weight: 700;
  line-height: 94%;
}
.mailingList {
  color: #049cff;
  position: relative;
  width: min-content;
  white-space: nowrap;
}
.curvedBorder {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
}
.description {
  color: rgba(255, 255, 255, 0.64);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.64px;
}
.returnHome {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  width: 20rem;
  height: 4.8rem;
  border-radius: 8px;
  background: linear-gradient(0deg, #0388ff 0%, #0388ff 100%), #fff;
  box-shadow: 0 4px 84px 0 rgba(0, 8, 34, 0.04);
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 2.1rem;
}
.arrow {
  width: 2.8rem;
  height: 1.4rem;
  color: #fff;
  transition: all 0.3s ease;
}
.errorMobile,
.mobileImageContainer {
  display: none;
}
@media screen and (max-width: 900px) {
  .squares,
  .error404Container {
    display: none;
  }
  .content {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 3.7rem;
    width: 100%;
    padding: 3.1rem 0 0;
  }
  .right {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    width: 100%;
    padding-left: 2.4rem;
  }
  .left {
    display: none;
  }

  .title {
    font-size: 4.8rem;
    line-height: 100%;
  }
  .description {
    font-size: 1.4rem;
    line-height: 100%;
  }
  .returnHome {
    width: 18.4rem;
    height: 4.8rem;
    border-radius: 8px;
    font-size: 1.4rem;
    margin-top: 0.6rem;
  }
  .arrow {
    width: 3.3rem;
    height: 1.7rem;
  }
  .mobileImageContainer {
    display: block;
    width: 100%;
    height: auto;
  }
  .mobileImageContainer img {
    width: 100%;
    height: auto;
  }
}
