.container {
  width: 97.8%;
  margin: 7rem auto 0;
  display: flex;
  flex-direction: column;
  gap: 11.2rem;
  border-radius: 20px;
  background: #000822;
  position: relative;
  overflow: hidden;
}
.squares {
  position: absolute;
  top: 50rem;
  left: -70rem;
}
.contact {
  position: absolute;
  top: -50rem;
  right: -30rem;
}
.first,
.second {
  position: relative;
  z-index: 2;
}
.first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 3.9rem;
  /* padding: 6.8rem 6.2rem;
  margin: 0 3.5%; */
}
.images:first-child {
  max-width: 60%;
}
.images img {
  width: 100%;
  height: 100%;
}
.images:last-child {
  max-width: 50%;
}
.second {
  width: 93%;
  min-height: 63.5rem;
  border-radius: 18px;
  background: #07102d;
  backdrop-filter: blur(16.566335678100586px);
  padding-left: 6.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 3.5% 4.3rem;
  overflow: hidden;
}
.images,
.images2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content,
.content2 {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  max-width: 44%;
}
.content {
  padding-top: 3rem;
}
.title,
.title2 {
  color: #fff;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 100%;
}
.title span,
.title2 span {
  color: #049cff;
}
.description,
.description2 {
  color: rgba(255, 255, 255, 0.54);
  font-size: 1.6rem;
  font-weight: 500;
  font-weight: 500;
  line-height: 124%;
  letter-spacing: 0.64px;
}
.description2:last-child {
  margin-top: 2rem;
}
@media screen and (max-width: 1300px) {
  .first {
    padding-right: 0;
    flex-direction: column;
  }
  .first .content,
  .first .images {
    max-width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1200px) {
  .second {
    /* padding-left: 0; */
    padding: 2rem 0;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  /* .image2 {
    rotate: 90deg;
  } */
  .second .content,
  .second .images {
    max-width: 80%;
    margin: 0 auto;
  }
  /* .images:first-child {
    max-width: 50%;
  }
  .images:last-child {
    max-width: 50%;
  } */
}
@media screen and (max-width: 640px) {
  .first {
    padding-top: 0.1rem;
  }
  .second {
    width: 90%;
    margin: 0 5%;
  }
}

@media screen and (max-width: 900px) {
  .squares {
    width: 485.816px;
    height: 246px;
    top: -5rem;
    left: -10rem;
  }
  .contact {
    width: 378.906px;
    height: 502.617px;
    top: -35rem;
    right: -20rem;
  }
  .container {
    margin: 0 auto;
    gap: 6.1rem;
  }
  .first {
    padding-top: 10.5rem;
    gap: 2rem;
  }
  .first .content,
  .second .content {
    max-width: min(90%, 65rem);
  }
  .first .images,
  .second .images {
    max-width: 100%;
  }
  .second {
    margin: 0 7% 1.9rem;
    padding: 0 0 3rem;
    width: 86%;
  }
  .content,
  .content2 {
    align-items: center;
    justify-content: center;
  }
  .title,
  .title2 {
    font-size: 3rem;
    text-align: center;
  }
  .description,
  .description2 {
    font-size: 1.4rem;
    text-align: center;
  }
}
