.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12.1rem 12.8% 16.1rem;
}
.first {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  padding-bottom: 6.8rem;
  border-bottom: 1px solid rgba(0, 8, 34, 0.24);
}
.title {
  color: #000822;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 100%; /* 58px */
}
.title span {
  color: #049cff;
}
.second {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 4.5rem;
}

.description {
  color: #494f64;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 124%; /* 19.84px */
  letter-spacing: 0.64px;
}
.description:last-child {
  max-width: 37.6rem;
}
.description:nth-child(2) {
  max-width: 42.3rem;
}
