.container {
  display: flex;
  width: 58.5rem;
  padding: 3.4rem 3.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.8rem;
  border-radius: 1.8rem;
  background: #fff;
  position: relative;
  z-index: 2;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
}
.row {
  display: flex;
  gap: 1.2rem;
  width: 100%;
}
.label {
  color: #000822;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.56px;
}
.button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 6.2rem;
  border-radius: 1.2rem;
  background: #0388ff;
  box-shadow: 0 4px 84px 0 rgba(0, 8, 34, 0.04);
  gap: 1.6rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 124%;
  letter-spacing: 0.64px;
  border: none;
  cursor: pointer;
  margin-top: 0.4rem;
}
.dropdown {
  display: none;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 46.8rem;
    padding: 3.04rem 3.04rem 2.8rem 3.04rem;
    gap: 2.08rem;
    border-radius: 1.44rem;
    z-index: 1.6;
  }

  .inputGroup {
    gap: 0.96rem;
    width: 100%;
  }

  .row {
    gap: 0.96rem;
    width: 100%;
  }

  .label {
    font-size: 1.12rem;
    font-weight: 320; /* 400 × 0.8 */
    line-height: 99.2%;
    letter-spacing: 0.45px;
  }

  .button {
    width: 100%;
    height: 4.96rem;
    border-radius: 0.96rem;
    box-shadow: 0 3.2px 67.2px 0 rgba(0, 8, 34, 0.04);
    gap: 1.28rem;
    font-size: 1.28rem;
    font-weight: 400; /* 500 × 0.8 */
    line-height: 99.2%;
    letter-spacing: 0.51px;
  }
}
@media screen and (max-width: 900px) {
  .container {
    width: 100%;
    padding: 2.1rem 2rem;
    gap: 2rem;
  }
  .dropdown {
    display: flex;
    flex: 1;
    width: 100%;
  }

  .inputGroup {
    gap: 1.4rem;
    display: none;
  }
  .row {
    flex-direction: column;
    gap: 1.4rem;
  }
  .button {
    height: 5.4rem;
    gap: 1.8rem;
    font-size: 1.4rem;
    line-height: 100%;
    letter-spacing: 0.56px;
  }
}
