.container {
  padding: 18.4rem 4.4% 16.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8.8rem;
}
.title {
  color: #000822;
  text-align: center;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 100%; /* 58px */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.title span {
  color: #0388ff;
}
.cardsContainer {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2.4rem;
}

.cardsContainer > div {
  min-height: 42rem;
  flex: 1;
}
@media screen and (max-width: 900px) {
  .container {
    padding: 9.6rem 4.4% 7.8rem;
    gap: 4.4rem;
  }
  .title {
    font-size: 3rem;
  }
  .cardsContainer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.2rem;
  }

  .cardsContainer > div {
    min-height: auto;
    width: 100%;
  }
}
