.container {
  display: flex;
  justify-content: space-between;
  margin: 6rem 4.4%;
  width: 91.2%;
}
.first {
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}
.second {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}
.payButton,
.cancelButton {
  display: flex;
  width: 100%;
  height: 62px;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  border-radius: 12px;
  background: #0388ff;
  box-shadow: 0 4px 84px 0 rgba(0, 8, 34, 0.04);
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 124%; /* 19.84px */
  border: none;
  cursor: pointer;
}
.cancelButton {
  background: #fff;
  color: #0388ff;
}

@media screen and (max-width: 1400px) {
  .container {
    margin: 2.6rem 2.2% 3.5rem;
    gap: 3.8rem;
    flex-direction: column;
  }
  .first {
    gap: 2.4rem;
    width: 100%;
    max-width: 100%;
  }
  .second {
    width: 100%;
  }
  .actions {
    display: none;
  }
}
