.content {
  display: flex;
  flex-direction: column;
  /* gap: 2.4rem; */
  padding: 3.4rem;
  border-radius: 16px;
  background: #fff;
}
.first {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  padding-bottom: 2.8rem;
  border-bottom: 1px solid rgba(0, 8, 34, 0.24);
  margin-bottom: 2.8rem;
}
.regBtn {
  color: #0388ff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.56px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  background: none;
  margin-right: auto;
}
.rows {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-top: 3.2rem;
}

.vehicleDetailsContainer {
  transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
}

.vehicleDetailsHidden {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.vehicleDetailsVisible {
  max-height: 500px; /* Adjust this value based on your content height */
  opacity: 1;
  overflow: visible;
}
.row {
  display: flex;
  gap: 1.8rem;
}
@media screen and (max-width: 900px) {
  .content {
    /* gap: 2.4rem; */
    padding: 2rem;
  }
  .first {
    padding-bottom: 2.6rem;
    margin-bottom: 2.6rem;
    flex-direction: column;
    gap: 1.8rem;
    align-items: center;
    justify-content: center;
  }
  .row {
    flex-direction: column;
    gap: 1.8rem;
  }
}
