.container {
  /* padding: 2.4rem 1.6rem 4.1rem; */
  width: 48.8rem;
  border-radius: 18px;
  background: #000822;
  position: relative;
}
.title {
  color: #fff;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 124%;
  letter-spacing: 1.12px;
  padding: 2.4rem 2.4rem 1.8rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}
.coverType {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 1.6rem 0;
}
.coverTypeTitle {
  color: #0388ff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.64px;
}
.coverTypeValue {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 124%;
  letter-spacing: 0.72px;
}
.summery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.3rem 2.2rem 2.4rem;
  margin: 2.6rem 1.6rem 2.4rem;
  position: relative;
  border-radius: 12px;
  background: #07102d;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.total {
  display: flex;
  align-items: center;
  display: flex;
  height: 3rem;
  padding: 1rem 0.5rem;
  gap: 1rem;
  border-radius: 100px;
  background: #fff;
  width: 12.5rem;
}
.totalTitle {
  color: #0388ff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.56px;
}
.totalPrice {
  color: #049cff;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 0.5rem;
}
.totalPriceDescription {
  color: rgba(255, 255, 255, 0.64);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.64px;
}
.features {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 0 3.6rem 4.1rem;
}
.featureItem {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
.featureItemTitle {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.64px;
}
.background {
  position: absolute;
  top: 0;
  right: 0;
  width: 9.5rem;
  height: 100%;
  background: linear-gradient(180deg, rgba(3, 136, 255, 0) 0%, #0388ff 184.11%);
}
.background2 {
  position: absolute;
  top: 0;
  right: 9.5rem;
  width: 9.5rem;
  height: 100%;
  opacity: 0.82;
  background: linear-gradient(180deg, rgba(3, 136, 255, 0) 0%, #0388ff 184.11%);
}
.background3 {
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%); */
  right: 19rem;
  width: 9.5rem;
  height: 50%;
  opacity: 0.6;
  background: linear-gradient(180deg, rgba(3, 136, 255, 0) 0%, #0388ff 184.11%);
}
@media screen and (max-width: 1050px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .container {
    width: 91.2%;
    margin: 0 4.4%;
  }
  .title {
    font-size: 2.4rem;
    padding: 2.2rem;
  }
  .coverType {
    padding: 2.2rem 02.2rem 0;
  }
  .coverTypeTitle,
  .coverTypeValue {
    font-size: 1.4rem;
  }
  .summery {
    padding: 2.4rem 0.9rem 2.9rem 2.4rem;
    margin: 1.2rem 2.2rem;
  }
  .content {
    gap: 1.3rem;
  }
  .totalPrice {
    font-size: 3.4rem;
    margin-bottom: 0rem;
  }
  .totalPriceDescription {
    font-size: 1.4rem;
  }
  .features {
    padding: 0 2.2rem 4.8rem;
  }
  .featureItemTitle {
    font-size: 1.4rem;
  }
}
