/* .container {
  margin-bottom: 2.4rem;
} */
.title {
  color: #000822;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 124%;
  letter-spacing: 0.64px;
}
.description,
.subDescription {
  color: rgba(0, 8, 34, 0.7);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.64px;
  margin-top: 0.8rem;
}
.listContainer {
  margin-top: 2.4rem;
}
.subDescription {
  margin-top: 1.4rem;
}
.subListContainer ul {
  gap: 0.4rem !important;
  margin: 1.6rem 0 1.6rem 3rem !important;
}
@media (max-width: 900px) {
  .title {
    font-size: 1.4rem;
  }
  .description,
  .subDescription {
    font-size: 1.4rem;
  }
  .subDescription {
    margin-top: 1.5rem;
  }
  .subListContainer ul {
    gap: 0.8rem !important;
    margin: 1.6rem 0 1.6rem 2rem !important;
  }
}
