.page {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  margin: 5.8rem 0;
  width: 100%;
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.title {
  color: #000822;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 100%;
}
.button {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 124%;
  display: flex;
  height: 4.8rem;
  width: 23.2rem;
  padding: 1rem 2.4rem;
  align-items: center;
  justify-content: space-between;
  /* gap: 1.2rem; */
  border-radius: 8px;
  background: linear-gradient(0deg, #0388ff 0%, #0388ff 100%), #fff;
  box-shadow: 0 4px 84px 0 rgba(0, 8, 34, 0.04);
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}
.button:hover {
  background: linear-gradient(0deg, #0388ff 0%, #0388ff 100%), #fff;
  box-shadow: 0 4px 84px 0 rgba(0, 8, 34, 0.04);
}
.dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 23.2rem;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 27px 79px 0 rgba(0, 8, 34, 0.12);
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  z-index: 100;
  padding: 0.8rem;
}
.dropdownOption {
  display: flex;
  width: 100%;
  min-height: 4.8rem;
  padding: 10px 24px;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 84px 0 rgba(0, 8, 34, 0.04);
  cursor: pointer;
  transition: background 0.2s ease;
  color: #000822;
  font-size: 1.4rem;
  font-weight: 400;
}
.dropdownOption:hover {
  background: #ecf0fe;
  color: #0388ff;
}
@media screen and (max-width: 900px) {
  .page {
    margin: 3.8rem 0;
  }
  .header {
    margin: 0 0.6rem;
  }
  .title {
    font-size: 2.4rem;
  }
  .button {
    width: 34px;
    height: 34px;
    padding: 10px 0;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button span {
    display: none;
  }
}
