.list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 2.4rem 0 2.4rem 1.8rem;
  /* list-style: disc; */
}
.listItem {
  /* display: flex;
  flex-direction: column;
  gap: 0.8rem; */
  color: #000822;
  font-size: 16px;
  font-weight: 700;
  line-height: 124%;
  letter-spacing: 0.64px;
}
.listDescription {
  color: rgba(0, 8, 34, 0.7);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.64px;
  display: block;
  margin-top: 0.8rem;
}
@media (max-width: 900px) {
  .list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin: 2.4rem 0 2.4rem 1.8rem;
    /* list-style: disc; */
  }
  .listItem {
    color: #000822;
    font-size: 16px;
    font-weight: 700;
    line-height: 124%;
    letter-spacing: 0.64px;
  }
  .listDescription {
    color: rgba(0, 8, 34, 0.7);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 124%;
    letter-spacing: 0.64px;
    display: block;
    margin-top: 0.8rem;
  }
  }