.content {
  margin: 2.5rem 0 1.4rem;
  padding: 3.4rem 3.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
  border-radius: 16px;
  background: #fff;
}
.terms {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-bottom: 2.3rem;
  border-bottom: 1px solid #0008223d;
}
.termItem {
  color: #000822;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.64px;
}
.selection {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-top: 2.3rem;
}
.customCheckbox {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  user-select: none;
  gap: 1.4rem;
}

.customCheckbox input {
  display: none;
}

.checkboxStyle {
  width: 16px;
  height: 16px;
  border: 1px solid #000822;
  border-radius: 50%;
  position: relative;
  flex-shrink: 0;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.customCheckbox input:checked + .checkboxStyle {
  background-color: #27a2ff;
  border-color: #27a2ff;
}

.customCheckbox input:checked + .checkboxStyle::after {
  content: "";
  position: absolute;
  top: 1.5px;
  left: 5px;
  width: 3.5px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.selectionText {
  color: #000822;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 124%;
  letter-spacing: 0.56px;
}
.actions {
  width: 100%;
  display: flex;
  gap: 1.5rem;
}
.back,
.next {
  flex: 1;
  display: flex;
  height: 6.2rem;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  border-radius: 12px;
  background: #0388ff;
  box-shadow: 0 4px 84px 0 rgba(0, 8, 34, 0.04);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 124%;
  border: none;
  cursor: pointer;
}
.back {
  background: #fff;
  box-shadow: 0 4px 84px 0 rgba(0, 8, 34, 0.04);
  color: #0388ff;
}
@media screen and (max-width: 900px) {
  .content {
    margin: 2.3rem 0 1.6rem;
    padding: 2rem 3.8rem;
    gap: 1.6rem;
  }
  .terms {
    gap: 2rem;
    padding-bottom: 2.6rem;
  }
  .termItem {
    font-size: 1.4rem;
  }
  .selection {
    gap: 2.6rem;
    padding-top: 2.6rem;
  }
  .customCheckbox {
    gap: 1.8rem;
  }
  .actions {
    gap: 1.2rem;
  }
  .back,
  .next {
    height: 4.8rem;
    gap: 1.8rem;
    font-size: 1 4rem;
  }
}
