.squares {
  position: absolute;
  top: -36rem;
  right: -74rem;
}
.headerContainer {
  width: calc(100% - 2.2%);
  /* height: 884px; */
  border-radius: 20px;
  background: #000822;
  margin: calc(-1.1% - 7.8rem) 1.1% 0 1.1%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 7.4rem;
  padding: 18.5rem 0 1.8rem;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 7% 0 2.7%;
}
.imageContainer {
  margin-top: -18.5rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
  flex-basis: 35.5%;
}

.subTitle {
  color: #049cff;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 124%;
  letter-spacing: 0.56px;
  text-transform: uppercase;
}
.title {
  color: #fff;
  font-size: 6.7rem;
  font-weight: 700;
  line-height: 94%; /* 69.56px */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.3rem;
}
.titleSpan {
  color: #049cff;
  white-space: nowrap;
  position: relative;
}
.curvedBorder {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
}
.features {
  display: flex;
  align-items: stretch;
  gap: 1.5rem;
  margin: 0 1.1%;
}
.confirmBtn {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  display: flex;
  height: 4.8rem;
  padding: 0 2.4rem;
  align-items: center;
  border-radius: 1.2rem;
  background: #0388ff;
  box-shadow: 0 4px 84px 0 rgba(0, 8, 34, 0.04);
  border: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 124%;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  margin-top: 5.3rem;
}

.confirmBtn:hover {
  background: rgba(3, 137, 255, 0.8);
}
@media screen and (max-width: 1300px) {
  .features {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.9rem;
    margin: 0 auto;
    max-width: 80rem;
  }
  .features > div {
    width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0rem;
    padding: 0;
  }
  .imageContainer {
    margin-top: -4rem;
    width: 100%;
    padding: 0;
  }
  .image1 {
    width: 100%;
    height: auto;
  }
  .content {
    gap: 2.7rem;
    flex-basis: 100%;
    padding: 0 2.4rem;

    /* max-width: 50rem; */
  }
}
@media screen and (max-width: 900) {
  .squares {
    width: 485.816px;
    height: 246px;
    top: -5rem;
    right: -20rem;
    left: auto;
  }
  /* .headerContainer {
    border-radius: 18px;
    background: #000822;
    margin: 2.6rem 2% 0;
    padding: 0;
    width: 96%;
  } */
  .headerContainer {
    border-radius: 18px;
    background: #000822;
    padding: 0;
    margin: 2.6rem 4% 0;
    width: 92%;
  }

  .subTitle {
    font-size: 1.4rem;
  }
  .title {
    font-size: 4.8rem;
  }
  .features {
    margin: 0 3.5%;
    max-width: 100%;
  }
  .confirmBtn {
    margin-top: 2.7rem;
  }
}
