.squares {
  position: absolute;
  top: -36rem;
  right: -74rem;
}
.wrapper {
  padding: 0.8rem 0 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 7.4rem;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 7% 0 2.7%;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
  flex-basis: 35.5%;
}
.imageContainer {
  position: relative;
  flex-basis: 40%;
  height: 48rem;
}
.blueBackground {
  position: absolute;
  width: 284px;
  height: 671px;
  flex-shrink: 0;
  background: linear-gradient(
    180deg,
    rgba(3, 136, 255, 0) 0%,
    rgba(3, 136, 255, 0.48) 100%
  );
  top: 0;
  right: 7%;
}
.blueBackground2 {
  position: absolute;
  width: 281px;
  height: 430px;
  background: linear-gradient(
    180deg,
    rgba(3, 136, 255, 0) 0%,
    rgba(3, 136, 255, 0.48) 100%
  );
  top: 24.4rem;
  right: calc(7% + 284px);
}
.image1,
.image2,
.image3 {
  position: absolute;
}
.image1 {
  bottom: 0;
  right: 7.7rem;
}
.image2 {
  right: 7.7rem;
  top: 0;
}
.image3 {
  top: 7rem;
  right: 2.8rem;
}
.subTitle {
  color: #049cff;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 124%;
  letter-spacing: 0.56px;
  text-transform: uppercase;
}
.title {
  color: #fff;
  font-size: 7.4rem;
  font-weight: 700;
  line-height: 94%; /* 69.56px */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.3rem;
}
.titleSpan {
  color: #049cff;
  white-space: nowrap;
  position: relative;
}
.description {
  color: rgba(255, 255, 255, 0.64);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.64px;
  margin-bottom: 2.9rem;
}
.curvedBorder {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
}
.features {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 0 1.1% ;
}
.confirmBtn {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  display: flex;
  height: 4.8rem;
  padding: 0 2.4rem;
  align-items: center;
  border-radius: 1.2rem;
  background: #0388ff;
  box-shadow: 0 4px 84px 0 rgba(0, 8, 34, 0.04);
  border: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 124%;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.confirmBtn:hover {
  background: rgba(3, 137, 255, 0.8);
}
