.label {
  color: #000822;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.64px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  flex: 1;
}
.dropdown {
  display: flex;
  padding: 20px 18px 20px 24px;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  background: #ecf0fe;
  position: relative;
}
.selected {
  color: rgba(0, 8, 34, 0.4);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.56px;
}
.dropdownOptions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  width: 100%;
  z-index: 2;
  display: flex;
  padding: 1.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 6px 79px 0 rgba(0, 8, 34, 0.12);
}
.dropdownOption,
.selectedOption {
  padding: 10px 1.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
  color: #000822;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 124%;
  letter-spacing: 0.56px;
}
.selectedOption {
  border-radius: 8px;
  background: #000822;
  box-shadow: 0 4px 84px 0 rgba(0, 8, 34, 0.04);
  color: #fff;
}
.selectionSpan {
  display: flex;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #000822;
}
.selectedSpan {
  background: #0388ff;
  border: 2px solid white;
  outline: 1px solid #0388ff;
}
@media screen and (max-width: 900px) {
  .container {
    gap: 1.4rem;
  }
  .dropdown {
    padding: 1.8rem;
    border-radius: 12px;
  }
}
