.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 18px;
  background: #000822;
  padding: 4.2rem 4.7rem 4.8rem 4.1rem;
  position: relative;
  overflow: hidden;
}
.first {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.title {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 124%; /* 22.32px */
  letter-spacing: 0.72px;
}
.description {
  color: rgba(255, 255, 255, 0.54);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 124%; /* 19.84px */
  letter-spacing: 0.64px;
}
.second {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  position: relative;
  z-index: 10;
}
.second img {
  width: 100%;
  height: 100%;
}
.downloadText {
  color: #0388ff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.56px;
}
.blueBackground {
  position: absolute;
  top: 0;
  right: 0;
  width: 4.5rem;
  height: 100%;
  opacity: 0.82;
  background: linear-gradient(180deg, rgba(3, 136, 255, 0) 0%, #0388ff 184.11%);
}
.blueBackground2 {
  position: absolute;
  top: 0;
  right: 4.5rem;
  width: 20.7rem;
  height: 100%;
  opacity: 0.82;
  background: linear-gradient(180deg, rgba(3, 136, 255, 0) 0%, #0388ff 184.11%);
}
.blueBackground3 {
  position: absolute;
  top: 27%;
  right: 25.2rem;
  width: 20.7rem;
  height: 73%;
  opacity: 0.6;
  background: linear-gradient(180deg, rgba(3, 136, 255, 0) 0%, #0388ff 184.11%);
}
@media screen and (max-width: 900px) {
  .container {
    border-radius: 18px;
    padding: 2.2rem 0 2.2rem 2.2rem;
    flex-direction: column;
    gap: 2.6rem;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .first {
    gap: 1.4rem;
  }
  .title {
    font-size: 1.6rem;
  }
  .description {
    font-size: 1.4rem;
  }
  .second {
    gap: 1.2rem;
  }
  .second img {
    width: 100%;
    height: 100%;
  }
  .blueBackground {
    top: 5.3rem;
    right: 0.2rem;
    width: 13.7rem;
  }
  .blueBackground2 {
    top: 12.9rem;
    right: 13.9rem;
    width: 13.7rem;
  }
  .blueBackground3 {
    display: none;
  }
}
