.container {
  width: 100%;
  margin: 0 1.1%;
  padding: 7.3rem 5%  5rem;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    #0168ff -345.34%,
    rgba(1, 104, 255, 0) 76.17%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  max-width: 78rem;
}
.title {
  color: #000822;
  text-align: center;
  font-size: 58px;
  font-weight: 700;
  line-height: 100%; /* 58px */
  /* text-transform: uppercase; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.3rem;
}
.title span {
  color: #049cff;
}
.description {
  color: rgba(0, 8, 34, 0.7);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 124%; /* 19.84px */
  letter-spacing: 0.64px;
}

.benifits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5.6rem;
}
.benifit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  padding: 2.9rem;
}
.benifitTitle {
  color: #000822;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 100%; /* 18px */
  max-width: 33rem;
}
.benifit:nth-child(1),
.benifit:nth-child(2),
.benifit:nth-child(5),
.benifit:nth-child(4) {
  border-right: 1px solid rgba(0, 0, 0, 0.43);
}
@media screen and (max-width: 900px) {
  .container {
    width: 100%;
    margin: 0 2%;
    padding: 6.1rem 0 1rem;
    gap: 3.5rem;
  }
  .top {
    gap: 1.8rem;
    max-width: 35rem;
  }
  .title {
    font-size: 3.4rem;
  }
  .description {
    font-size: 1.4rem;
  }

  .benifits {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    width: 72%;
    margin: 0 14%;
  }
  .benifit {
    gap: 3.3rem;
    padding: 3.5rem 0 5rem;
    width: 100%;
    border-right: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.43);

  }
  .benifit:last-child {
    border-bottom: none;
  }
  .benifitTitle {
    font-size: 1.6rem;
    max-width: 29rem;
  }
}
