.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border-radius: 16px;
  background: #fff;
  padding: 2.4rem 2.4rem 4.1rem 2.4rem;
}
.header {
  display: flex;
  gap: 3.9rem;
  width: 85%;
}
.headerContent {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.title {
  color: #000822;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 124%;
  letter-spacing: 0.72px;
}
.description {
  color: #494f64;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.56px;
}
.selectionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.selectionItem,
.selectedItem {
  flex: 1;
  display: flex;
  padding: 1rem 0 1rem 2.4rem;
  max-width: 30rem;
  height: 5rem;
  align-items: center;
  gap: 3.4rem;
  border-radius: 0.8rem;
  background: transparent;
  box-shadow: 0 0.4rem 0.84rem 0 rgba(0, 8, 34, 0.04);
  color: #000822;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 124%;
  letter-spacing: 0.56px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.selectedItem {
  background: #06112b;
  color: #fff;
}
.selectionSpan {
  display: flex;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #000822;
}
.selectedSpan {
  background: #0388ff;
  border: 2px solid white;
  outline: 1px solid #0388ff;
}
@media screen and (max-width: 900px) {
  .container {
    gap: 2.6rem;
    padding: 3rem 2.4rem;
  }
  .img {
    width: 6rem;
    height: 8rem;
  }
  .header {
    gap: 2.6rem;
    flex-direction: column;
    width: 80%;
  }
  .headerContent {
    gap: 0.8rem;
    flex-direction: column;
  }
  .title,
  .description {
    font-size: 1.4rem;
  }
  .selectionContainer {
    gap: 0.8rem;
  }
  .selectionItem,
  .selectedItem {
    padding: 1rem 1.2rem;
    max-width: 27rem;
    height: 4.2rem;
    gap: 1.2rem;
  }
}
