.container {
  width: 100%;
  padding: 2.7rem 1.4rem 1.4rem;
  border-radius: 18px;
  background: #e5ebfe;
}
.header {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.title {
  color: #000822;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 5.2rem;
  padding: 3.4rem;
  border-radius: 16px;
  background: #fff;
}
.selectionContainer {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
