.option {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
  transition: all 0.3s ease;
  padding: 2.1rem 2rem 2.2rem;
  border-radius: 12px;
  border: 1px solid rgba(0, 8, 34, 0.24);
  flex: 1;
}
.optionContent {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  max-width: 23rem;
}
.title {
  color: #000822;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 124%;
  letter-spacing: 0.56px;
}
.description {
  color: rgba(0, 8, 34, 0.64);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.56px;
}
