.page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1.6rem 1.1% 5.2rem;
  height: 100%;
  width: 107%;
  position: relative;
}
.contact {
  position: absolute;
  top: 30%;
  right: 0%;
}
.squares {
  position: absolute;
  top: -13.6rem;
  right: -57rem;
}
.images {
  position: relative;
  flex-basis: 47.6%;
  height: 67rem;
  border-radius: 17px;
  background: #000822;
  overflow: hidden;
}

.image1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 80%;
  height: auto;
}
.image4 {
  display: none;
}
@media screen and (max-width: 900px) {
  .contact {
    display: none;
  }
  .page {
    flex-direction: column;
    margin: 2.6rem 2.2% 4.4rem;
    height: auto;
    width: 95.6%;
    height: 84.8rem;
    border-radius: 1.8rem;
    background: #010922;
    padding: 2.7rem 3.5% 4.5rem;
  }
  .images {
    flex-basis: 100%;
    position: relative;
  }
  .image4 {
    display: block;
    /* position: absolute;
    top: 5.7rem;
    right: 50%;
    transform: translateX(50%);
    z-index: 1;
    width: 100%;
    height: auto; */
  }
  .image1,
  .image2,
  .image3,
  .squares {
    display: none;
  }
  .images {
    flex-basis: 100%;
    height: 100%;
  }
}
