.container {
  padding: 43px 5%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}
.title {
  color: #000;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 62.4px */
  margin: 34px auto 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
}

.title span {
  color: #049cff;
}
.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 47px;
  border-bottom: 1px solid #000;
}
.description {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 124%; /* 24.8px */
  letter-spacing: 0.8px;
}
.link {
  width: 100%;
  height: 62px;
  border-radius: 10px;
  background: #0388ff;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 124%; /* 23.56px */
  letter-spacing: 0.76px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 15px 30px;
}
.buttonContainer {
  width: 90%;
  height: 229px;
  border-radius: 20px;
  background: #eef2ff;
  padding: 44px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 54px auto 63px;
}
.ifNotWorking {
  color: #049cff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 124%; /* 24.8px */
  letter-spacing: 0.8px;
}
.button {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 124%; /* 24.8px */
  letter-spacing: 0.8px;
}
.greeting {
  color: #049cff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 124%; /* 19.84px */
  letter-spacing: 0.64px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
}
.greeting span {
  font-weight: 700;
}
