.container {
  border-radius: 14px;
  border: 1px solid #0168ff;
  background: #07102d;
  backdrop-filter: blur(22px);
  padding: 3rem 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.5rem;
  flex: 1;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.title {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 100%;
}
.bold {
  font-weight: 700;
  font-size: 1.66rem;
}
.description {
  color: rgba(255, 255, 255, 0.64);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.56px;
}
@media screen and (max-width: 900px) {
  .container {
    padding: 2rem 3rem;
    gap: 4.18rem;
  }
  .title {
    font-size: 1.6rem;
  }
  .img {
    height: 3rem;
    width: auto;
  }
}
