.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15.2rem 8.5% 11.5rem 4.5%;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
  flex-basis: 44%;
}
.title {
  color: #000822;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 100%; /* 58px */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.3rem;
}
.title span {
  color: #049cff;
}
.description {
  color: rgba(0, 8, 34, 0.54);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 124%; /* 19.84px */
  letter-spacing: 0.64px;
}
@media screen and (max-width: 1300px) {
  .container {
    padding: 10.5rem 3% 8rem;
    gap: 5.4rem;
  }
  .image {
    width: 50%;
    height: auto;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    padding: 10.5rem 2.5% 10.5rem;
    gap: 5.4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content {
    flex-basis: 100%;
    gap: 2.4rem;
    align-items: center;
    justify-content: center;
  }
  .image {
    width: 100%;
    height: auto;
  }
  .title {
    font-size: 3.4rem;
    flex-direction: row;
  }
  .description {
    font-size: 1.4rem;
    text-align: center;
  }
}
