.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 8.5% 11.5rem 4.5%;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
  flex-basis: 37%;
}
.title {
  color: #000822;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 100%; /* 58px */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.3rem;
}
.title span {
  color: #049cff;
}
.description {
  color: rgba(0, 8, 34, 0.54);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 124%; /* 19.84px */
  letter-spacing: 0.64px;
}
