.stepper {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
}
.stepperItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
}
.stepperItemText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}
.stepperLine,
.stepperLine2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stepperLine svg,
.stepperLine2 svg {
  width: 100%;
  height: 100%;
  margin-top: 4rem;
}
.stepperNumber {
  color: #049cff;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 124%;
  letter-spacing: 0.56px;
}
.stepperTitle {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 100%;
}
