.squares {
  display: none;
}
.contact {
  display: none;
}

.success {
  display: none;
}

.wrapper {
  position: relative;
  overflow: hidden;
  /* z-index: 2; */
  padding: 12.1rem 0 18.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.1rem;
  margin-top: -2.5rem;
  width: 100%;
  height: auto;
}
.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  max-width: 65rem;
}
.subTitle {
  color: #049cff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 124%;
  letter-spacing: 0.56px;
}
.title {
  color: #fff;
  font-size: 6.7rem;
  font-weight: 700;
  line-height: 94%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.titleSpan {
  color: #049cff;
  position: relative;
}
.curvedBorder {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
}
@media screen and (max-width: 800px) {
  .squares {
    width: 485.816px;
    height: 246px;
    top: -2rem;
    right: -24rem;
  }
  .contact {
    width: 378.906px;
    height: 502.617px;
    top: 7rem;
    left: 10rem;
  }
  .success {
    width: 83px;
    height: 93px;
  }
  .wrapper {
    padding: 7rem 0 7.5rem;
    gap: 2.3rem;
    margin-top: 0;
  }
  .titles {
    gap: 2rem;
    max-width: 50rem;
  }
  .subTitle {
    font-size: 1.4rem;
  }
  .title {
    font-size: 4.8rem;
    gap: 0.3rem;
  }
}
