.page {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  margin: 5rem 0 13rem;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.title {
  color: #000822;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  width: 100%;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #f5c6cb;
}
