.squares {
  position: absolute;
  top: 26.4rem;
  left: -85.4rem;
  z-index: -1;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  width: 32.5%;
  margin: 0.4rem auto 27.2rem;
}
.commingSoon {
  display: flex;
  width: 18.2rem;
  height: 4.9rem;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  background: #fff;
  color: #049cff;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 124%;
  letter-spacing: 0.72px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.commingSoon:hover {
  background: #049cff;
  color: #fff;
}
.title {
  color: #fff;
  font-size: 7.4rem;
  font-weight: 700;
  line-height: 94%;
  text-align: center;
}
.mailingList {
  color: #049cff;
  position: relative;
}
.curvedBorder {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
}
.description {
  color: rgba(255, 255, 255, 0.64);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.64px;
  text-align: center;
}
.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  width: 48.3rem;
  height: 6.4rem;
  border-radius: 12px;
  background: #151d39;
  box-shadow: 0 4px 84px 0 rgba(0, 8, 34, 0.12);
  padding: 1rem;
}
.input {
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 124%;
  padding: 0 1.4rem;
}
.subscribeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  width: 18.9rem;
  height: 4.8rem;
  border-radius: 8px;
  background: linear-gradient(0deg, #0388ff 0%, #0388ff 100%), #fff;
  box-shadow: 0 4px 84px 0 rgba(0, 8, 34, 0.04);
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}
.arrow {
  width: 2.8rem;
  height: 1.4rem;
  color: #fff;
  transition: all 0.3s ease;
}
