.content {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  width: 100%;
  flex-shrink: 0;
  border-radius: 16px;
  background: #fff;
  padding: 2.1rem 1.8rem;
  margin-top: 2.4rem;
}
.first,
.second {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.title {
  color: #000822;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 124%;
  letter-spacing: 0.72px;
}
.duration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 0.7rem 0.7rem 2.4rem;
  border-radius: 16px;
  border: 1px solid rgba(0, 8, 34, 0.24);
}
.durationQuestion {
  color: #000822;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 124%; /* 19.84px */
  letter-spacing: 0.64px;
}
.period {
  display: flex;
  width: 17.5rem;
  height: 5rem;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  flex-shrink: 0;
  border-radius: 12px;
  background: #06112b;
  box-shadow: 0 4px 84px 0 rgba(0, 8, 34, 0.04);
}
.periodAnswer {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 124%;
  letter-spacing: 0.56px;
}
.row {
  display: flex;
  gap: 1.4rem;
}
