.container {
  padding: 11.6rem 4.4% 5.3rem;
  margin-bottom: 2.2rem;
  display: flex;
  flex-direction: column;
}
.title {
  color: #000822;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 100%; /* 58px */
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.3rem;
  margin-top: 8.3rem;
  margin-bottom: 5.2rem;
}
.covered,
.unCovered {
  display: flex;
  flex-direction: column;
  gap: 5.6rem;
  padding: 3.7rem 3.2rem 6.9rem;
  border-radius: 18px;
  background: #fff;
  flex: 1;
}
.header {
  display: flex;
  align-items: center;
  gap: 3.9rem;
}
.coveredTitle,
.unCoveredTitle {
  color: #000822;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 100%; /* 28px */
}
.features {
  display: flex;
  flex-direction: column;
}
.feature {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  padding: 1.6rem 0;
}
.feature:first-child {
  padding-top: 0;
}
.feature:last-child {
  padding-bottom: 0;
}
.featureText {
  color: rgba(0, 8, 34, 0.7);
  font-weight: 400;
  line-height: 124%; /* 19.84px */
  letter-spacing: 0.64px;
  font-size: 1.6rem;
}

.footer {
  display: inline-flex;
  padding: 28px 6px 42px 0;
  align-items: flex-start;
  gap: 35px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.description {
  color: #4c5264;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 114%; /* 18.24px */
  letter-spacing: 0.64px;
}
