.container {
  min-height: 100vh;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 4rem 4.4%;
  text-align: center;
}

.content h1 {
  color: #000822;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 2rem;
}

.content p {
  color: #5a6b7d;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 160%;
}

@media screen and (max-width: 900px) {
  .content h1 {
    font-size: 3.2rem;
  }

  .content p {
    font-size: 1.6rem;
  }
}
