.stepper {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
}
.stepperContainer {
  display: flex;
  align-items: center;
}
.stepperItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
}
.stepperItemText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}
.stepperLine,
.stepperLine2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stepperLine svg,
.stepperLine2 svg {
  width: 100%;
  height: 100%;
  margin-top: -5rem;
}
.stepperNumber {
  color: #049cff;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 124%;
  letter-spacing: 0.56px;
}
.stepperTitle {
  color: white;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 28px */
}
@media screen and (max-width: 900px) {
  .stepper {
    gap: 1.6rem;
    width: 75%;
    margin: 0 auto;
  }
  .stepperItemImage {
    width: 3.4rem;
    height: 3.4rem;
  }
  .stepperItemImage:first-child {
    width: 4.2rem;
    height: 4.2rem;
  }
  .stepperItem {
    gap: 1.2rem;
    margin: 0.4rem 0 0 !important;
  }
  .stepperItem:first-child {
    margin: 0 !important;
  }
  .stepperItemText {
    gap: 0.5rem;
  }
  .stepperLine svg,
  .stepperLine2 svg {
    margin-top: -4rem;
  }
  .stepperTitle {
    font-size: 1.6rem;
  }
}
