.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.6rem;
  margin-top: 7.5rem;
  width: 100%;
}

.formTitle {
  color: #000822;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 100%;
}
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  padding: 3.5rem 3.4rem;
  width: 100%;
  border-radius: 18px;
  background: #fff;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.row > div {
  flex: 1;
}

@media screen and (max-width: 900px) {
  .form {
    gap: 2.8rem;
    margin-top: 5rem;
    width: 100%;
  }

  .formTitle {
    font-size: 2.4rem;
  }
  .formContainer {
    gap: 2.6rem;
    padding: 2.2rem;
  }
  .row {
    flex-direction: column;
    gap: 2.6rem;
  }
}
