.description {
  color: rgba(0, 8, 34, 0.7);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.64px;
}
@media (max-width: 900px) {
  .description {
    font-size: 1.4rem;
  }
}
