.container {
  width: 100%;
  border-radius: 20px;
  background: #000822;
  padding: 8.8rem 1.3% 2.8rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.content {
  width: 100%;
  min-height: 518px;
  border-radius: 28px;
  background: #07102d;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.first {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 6.1rem;
  padding: 6.5rem 5.5% 7.7rem;
  position: relative;
  flex-basis: 50%;
  min-height: 518px;
}
.background1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 33.3%;
  height: 75%;
  background: linear-gradient(to top, rgba(3, 136, 255, 0) 0%, #0388ff 184.11%);
}
.background2 {
  position: absolute;
  top: 0;
  right: 33.3%;
  width: 33.3%;
  height: 61%;
  opacity: 0.82;
  background: linear-gradient(to top, rgba(3, 136, 255, 0) 0%, #0388ff 184.11%);
}
.background3 {
  position: absolute;
  top: 0;
  right: 66.6%;
  width: 33.4%;
  height: 47%;
  opacity: 0.6;
  background: linear-gradient(to top, rgba(3, 136, 255, 0) 0%, #0388ff 184.11%);
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.2rem;
}
.description {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.56px;
}
.text,
.description {
  position: relative;
  z-index: 1;
  max-width: 90%;
  max-width: 32rem;
}

.title,
.contentTitle {
  color: #fff;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.contentTitle {
  align-items: flex-start;
  justify-content: flex-start;
}
.title span,
.contentTitle span {
  color: #0388ff;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 5.1rem 8% 5.2rem;
  flex-basis: 50%;
  min-width: 56rem;
}
.selection {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.label {
  color: rgba(255, 255, 255, 0.54);
  font-size: 14px;
  font-weight: 400;
  line-height: 124%; /* 17.36px */
  letter-spacing: 0.56px;
}

.card {
  width: 100%;
  border-radius: 16px;
  background: #fff;
  padding: 1.1rem 1.2rem 1.2rem;
}
.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: inline-flex;
  padding: 1.7rem 2.8rem 1.7rem 1.1rem;
  align-items: center;
  border-radius: 18px;
  width: 100%;
  margin-bottom: 0.8rem;
}
.left {
  display: flex;
  align-items: center;
  gap: 2.8rem;
}
.cardTitle {
  color: #000822;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
}

.cardPrice {
  color: #0388ff;
  font-size: 74px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 74px */
}

.cardDescription {
  color: rgba(0, 8, 34, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 124%; /* 19.84px */
  letter-spacing: 0.64px;
  padding: 4.7rem 0 3.2rem;
  border-top: 1px solid rgba(0, 8, 34, 0.14);
}
.card button {
  width: 100%;
  height: 4.8rem;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .content {
    flex-direction: column;
    overflow: hidden;
  }
  .form,
  .first {
    flex-basis: 100%;
  }
  .form {
    min-width: 100%;
    padding: 2rem 3rem;
  }
  .first {
    min-height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;
  }
  .text {
    max-width: 100%;
  }
}
