.squares {
  position: absolute;
  top: -36rem;
  right: -74rem;
}
.contact {
  position: absolute;
  top: 10.6rem;
  right: 23rem;
}
.wrapper {
  padding: 0 0 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 8.5rem;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 5% 0 2.6%;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.8rem;
  flex-basis: 39.5%;
}

.subTitle {
  color: #049cff;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 124%;
  letter-spacing: 0.56px;
  text-transform: uppercase;
}
.title {
  color: #fff;
  font-size: 7.4rem;
  font-weight: 700;
  line-height: 94%; /* 69.56px */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.3rem;
}
.titleSpan {
  color: #049cff;
  white-space: nowrap;
  position: relative;
}
.description {
  color: rgba(255, 255, 255, 0.64);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.64px;
  margin-bottom: 1rem;
}
.curvedBorder {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
}

.features {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 0 1.3%;
}
.confirmBtn {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  display: flex;
  height: 4.8rem;
  padding: 0 2.4rem;
  align-items: center;
  border-radius: 1.2rem;
  background: #0388ff;
  box-shadow: 0 4px 84px 0 rgba(0, 8, 34, 0.04);
  border: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 124%;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.confirmBtn:hover {
  background: rgba(3, 137, 255, 0.8);
}
@media screen and (max-width: 900px) {
  .squares {
    position: absolute;
    top: -36rem;
    right: -74rem;
  }
  .contact {
    position: absolute;
    top: 10.6rem;
    right: 23rem;
  }
  .wrapper {
    padding: 0 0 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 8.5rem;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 5% 0 2.6%;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.8rem;
    flex-basis: 39.5%;
  }

  .subTitle {
    color: #049cff;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 124%;
    letter-spacing: 0.56px;
    text-transform: uppercase;
  }
  .title {
    color: #fff;
    font-size: 7.4rem;
    font-weight: 700;
    line-height: 94%; /* 69.56px */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.3rem;
  }
  .titleSpan {
    color: #049cff;
    white-space: nowrap;
    position: relative;
  }
  .description {
    color: rgba(255, 255, 255, 0.64);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 124%;
    letter-spacing: 0.64px;
    margin-bottom: 1rem;
  }
  .curvedBorder {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
  }

  .features {
    flex-direction: column;
    gap: 1.2rem;
    margin: 0 4%;
  }
  .features > div {
    width: 100%;
  }
  .confirmBtn {
    gap: 1.8rem;
    height: 4.8rem;
    padding: 0 2.4rem;
    border-radius: 1.2rem;
    font-size: 1.6rem;
  }
}
