.wrapper {
  position: relative;
  border-radius: 20px;
  background: #000822;
  position: relative;
  overflow: hidden;
  width: 97.8%;
  margin: 7rem auto 0;
}
.contact {
  position: absolute;
  top: -52rem;
  right: -26rem;
}
.squares {
  position: absolute;
  top: 58rem;
  left: -60rem;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 11.2rem;
  position: relative;
  z-index: 2;
}
.first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.second {
  width: 1310px;
  min-height: 635px;
  border-radius: 18px;
  background: #07102d;
  backdrop-filter: blur(16.566335678100586px);
  margin: 0 3.5% 4.3rem;
  width: 93%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}
.first .content {
  padding: 0 8.5rem;
}
.second .content {
  width: 58%;
  padding: 5rem 4.2rem;
}
.second > div {
  min-height: 635px;
}
.title {
  color: #fff;
  font-size: 4.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 58px */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title span {
  color: #0388ff;
}
.description {
  color: rgba(255, 255, 255, 0.54);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 124%; /* 19.84px */
  letter-spacing: 0.64px;
}
.description,
.title {
  max-width: 90%;
}
.featuresContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 33.3%;
  height: 100%;
  background: linear-gradient(to top, rgba(3, 136, 255, 0) 0%, #0388ff 184.11%);
}
.background2 {
  position: absolute;
  top: 0;
  right: 33.3%;
  width: 33.3%;
  height: 100%;

  opacity: 0.82;
  background: linear-gradient(to top, rgba(3, 136, 255, 0) 0%, #0388ff 184.11%);
}
.background3 {
  position: absolute;
  top: 0;
  right: 66.6%;
  width: 33.4%;
  height: 85%;
  opacity: 0.6;
  background: linear-gradient(to top, rgba(3, 136, 255, 0) 0%, #0388ff 184.11%);
}
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  position: relative;
  z-index: 1;
  margin: 0 6.6%;
}

.feature {
  padding: 2.9rem 3.5rem;
  width: 100%;
  border-radius: 14px;
  background: #07102d;
  backdrop-filter: blur(22px);
  display: flex;
  align-items: center;
  gap: 3.6rem;
}
.featureNumber {
  min-width: 4.4rem;
  min-height: 4.4rem;
  border-radius: 50%;
  background: linear-gradient(107deg, #ffffff4d 0%, #0388ff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #07102d;
  font-size: 14.4px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 14.4px */
}
.featureContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.9rem;
}
.featureTitle {
  color: #fff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 18px */
}
.featureDescription {
  color: rgba(255, 255, 255, 0.64);
  font-size: 14px;
  font-weight: 400;
  line-height: 124%; /* 17.36px */
  letter-spacing: 0.56px;
}
@media screen and (max-width: 1400px) {
  .first .content {
    margin-left: 0;
    padding: 0 3rem;
  }
}
@media screen and (max-width: 1250px) {
  .wrapper {
    margin: 2.4 auto;
  }
  .container {
    gap: 4rem;
  }
  .first,
  .second {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .second {
    padding: 0 0 3rem 0;
    flex-direction: column-reverse;
  }
  .first {
    padding: 0;
  }
  .first .content,
  .second .content {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    min-height: auto;
  }
  .second > div {
    min-height: auto;
    padding: 2.5rem 0;
    width: 100%;
  }
  .images {
    width: 100%;
  }
  .images img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 900px) {
  .container {
    gap: 4.7rem;
  }
  .second {
    width: 92.6%;
    min-height: auto;
    margin: 0 3.7% 1.9rem;
    flex-direction: column-reverse;
    padding: 0 0 1.8rem;
    overflow: hidden;
  }
  .content {
    gap: 2.4rem;
  }
  .first {
    gap: 4rem;
    padding: 0;
  }
  .first .content {
    padding: 0 7%;
  }
  .second .content {
    width: 100%;
    padding: 0 7%;
  }
  .second > div {
    min-height: auto;
    padding: 1.3rem 0 5.1rem;
  }
  .title {
    font-size: 3.4rem;
  }
  .description {
    font-size: 1.4rem;
  }
  .description,
  .title {
    max-width: 100%;
  }
  /* .featuresContainer {
    padding: 0 0 5.1rem;
  } */
  .features {
    gap: 1.2rem;
    margin: 0 3.5%;
  }

  .feature {
    padding: 2rem 2.3rem;
    gap: 2.4rem;
  }
  .featureNumber {
    min-width: 2.8rem;
    min-height: 2.8rem;
    font-size: 10px;
  }
  .featureContent {
    gap: 0.6rem;
  }
  .featureTitle {
    font-size: 1.6rem;
  }
}
