.page {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  margin: 5.8rem auto;
  width: min(95%, 120rem);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.title {
  color: #000822;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 100%;
}
@media screen and (max-width: 900px) {
  .page {
    margin: 3.8rem auto;
  }
  .header {
    margin: 0 0.6rem;
  }
  .title {
    font-size: 2.4rem;
  }
}
