.squares {
  position: absolute;
  top: calc(0rem + 1.1%);
  right: calc(-39rem - 1.1%);
}
.contact {
  position: absolute;
  /* top: 17.5rem; */
  top: -6rem;
  left: 55%;
  transform: translateX(-50%);
}
/* .container {
  overflow: hidden;
} */
.content {
  position: relative;
  overflow: hidden;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10rem 4.4% 7.15% 2.6%;
}
.headers {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-bottom: 6rem;
}
.subTitle {
  color: #049cff;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 124%;
  letter-spacing: 0.56px;
}
.title {
  color: #fff;
  font-size: 7.4rem;
  font-weight: 700;
  line-height: 94%;
  position: relative;
  width: max-content;
  white-space: nowrap;
}
.curvedBorder {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
}
.contactOptions {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.contactOption {
  display: flex;
  align-items: center;
  gap: 4.3rem;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.infoTitle {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 100%;
}

.infoDescription {
  color: rgba(255, 255, 255, 0.64);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 124%;
  letter-spacing: 0.56px;
}

@media screen and (max-width: 1200px) {
  .squares {
    top: calc(0rem + 0.99%);
    right: calc(-35.1rem - 0.99%);
  }

  .contact {
    top: -5.4rem;
    left: 49.5%;
  }

  .content {
    z-index: 1.8;
    padding: 9rem 3.96% 6.435% 2.34%;
  }

  .headers {
    gap: 1.26rem;
    margin-bottom: 5.4rem;
  }

  .subTitle {
    font-size: 1.26rem;
    font-weight: 450; /* 500 × 0.9 */
    line-height: 111.6%;
    letter-spacing: 0.504px;
  }

  .title {
    font-size: 6.66rem;
    font-weight: 630; /* 700 × 0.9 */
    line-height: 84.6%;
  }

  .curvedBorder {
    bottom: -9px;
  }

  .contactOptions {
    gap: 2.16rem;
  }

  .contactOption {
    gap: 3.87rem;
  }

  .info {
    gap: 0.72rem;
  }

  .infoTitle {
    font-size: 1.62rem;
    font-weight: 630; /* 700 × 0.9 */
    line-height: 90%;
  }

  .infoDescription {
    font-size: 1.26rem;
    font-weight: 360; /* 400 × 0.9 */
    line-height: 111.6%;
    letter-spacing: 0.504px;
  }
}
@media screen and (max-width: 900px) {
  .squares,
  .contact {
    display: none;
  }

  .content {
    padding: 3.9rem 3.5% 1.9rem;
    display: flex;
    justify-content: center;
    gap: 4.6rem;
  }

  .headers {
    gap: 0.8rem;
    margin-bottom: 5.2rem;
  }

  .subTitle {
    font-size: 1.4rem;
  }

  .title {
    font-size: 4.8rem;
    line-height: 100%;
  }

  .contactOptions {
    gap: 1.8rem;
  }

  .contactOption {
    gap: 1.7rem;
  }

  .info {
    gap: 0.8rem;
  }

  .infoTitle {
    font-size: 1.6rem;
  }

  .infoDescription {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 700px) {
  .content {
    flex-direction: column;
  }
  .left,
  .right {
    width: 100%;
  }
}
