.container {
  margin: 4.8rem 0 2.8rem;
  padding: 9rem 4.4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8rem;
}
.first {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.4rem;
  width: 100%;
  max-width: 61rem;
  /* flex-basis: 48%; */
}
.first img {
  width: 100%;

  height: auto;
}
.second {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.6rem;
}
.servicesContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.4rem;
}
.title {
  margin-top: 1.8rem;
  color: #000822;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 100%; /* 74px */
  /* text-align: center; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.3rem;
}
.title span {
  color: #0388ff;
}
.description {
  color: #494f64;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 124%; /* 19.84px */
  letter-spacing: 0.64px;
  margin-bottom: 2.4rem;
  text-align: center;
}

.secondPart {
  color: #0388ff;
}

.confirmBtn:hover {
  background: rgba(3, 137, 255, 0.8);
}
.services {
  display: flex;
  flex-direction: column;
  flex-basis: 44.5%;
}
.service {
  display: flex;
  gap: 3.8rem;
  align-items: center;
  padding: 2.8rem 0;
  border-bottom: 1px solid rgba(0, 8, 34, 0.24);
}

.service:first-child {
  padding-top: 0;
}
.serviceTitle {
  color: #000822;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 100%; /* 28px */
}
.confirmBtn {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  display: flex;
  height: 4.8rem;
  width: 19.2rem;
  padding: 0 2.4rem;
  align-items: center;
  border-radius: 1.2rem;
  background: #0388ff;
  box-shadow: 0 4px 84px 0 rgba(0, 8, 34, 0.04);
  border: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 124%;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}
@media screen and (max-width: 1400px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin: 0;
  }
  .first {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .first img {
    height: 20rem;
    width: auto;
  }
}
@media screen and (max-width: 900) {
  .container {
    margin: 5rem 2% 8.3rem;
    padding: 0;
    gap: 4rem;
  }
  .first {
    width: 100%;
    max-width: 100%;
  }
  .first img {
    width: 100%;
    height: auto;
  }
  .second {
    gap: 4.2rem;
    align-items: flex-start;
  }
  .servicesContent {
    gap: 1.8rem;
  }
  .title {
    margin-top: 0rem;
    font-size: 3.4rem;
  }
  .description {
    font-size: 1.4rem;
    margin-bottom: 0;
  }

  .services {
    flex-basis: 100%;
  }
  .service {
    gap: 1.6rem;
    padding: 2.6rem 0;
  }

  .serviceTitle {
    font-size: 1.6rem;
  }
  .confirmBtn {
    gap: 1.8rem;
    height: 4.8rem;
    width: 19.2rem;
    padding: 0 2.4rem;
    font-size: 1.6rem;
  }
}
