.content {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  width: 100%;
  /* border-radius: 16px; */
  /* background: #fff; */
  /* padding: 2rem 1.8rem; */
  margin-top: 2.4rem;
}
.cards {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
